.Post {
	position: relative;
	border: 1px solid rgba(255, 255, 255, 0);
	margin: 1em auto;
	max-width: 40rem;
	min-width: 30rem;
	padding: 3em;
	background: rgb(15, 15, 15);
	color: white;
	border-radius: 10px;
}

.Post:hover {
	border: 1px solid #949494;
}

.tag {
	top: 0;
}

.Post h1 {
	font-size: 2rem;
}
