.PostList {
	list-style: none;
	/* display: flex; */
	grid-column: 1 / 8;
	margin: 0;
	padding: 0;
	/* top: 150px;
   position: relative; */
	font-family: 'Sarabun', sans-serif;
	transition: 1s;
}

.ShowMenu {
	grid-column: 1 / 7;
}
