.Toolbar_container {
	height: 4em;
	/* width: 100%; */
	top: 0;
	position: sticky;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(7, 1fr);
	align-items: center;
	background: #222831;
	z-index: 3;
	/* color: #eeeeee; */
}

.Toolbar_options_container {
	margin: 0;
	padding: 0;
}

.Toolbar_side_nav_button {
	/* grid-column: 1 / 2; */
	display: flex;
	flex-direction: row;
	align-items: center;
}
