.Dropdown_options {
	grid-column: 6/7;
	justify-self: center;
}

.Dropdown_menu {
	display: flex;
	justify-self: center;
	flex-direction: column;
	grid-column: 6/7;
	/* box-sizing: border-box; */
	text-align: right;
	/* right: 0.1px; */
	top: 4rem;
	width: 9em;
	position: absolute;
	padding: 1rem;
	z-index: 3;
	background: #222831;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 0.4px solid #eeeeee;
}
.Dropdown_menu a {
	padding: 0.5rem;
	color: #eeeeee;
	text-decoration: none;
	font-size: 0.5rem;
	text-align: left;
}

.Dropdown_menu h1 {
	display: inline;
	margin-left: 1rem;
}

.dropdown_close {
	/* move dropdown menu way up to create animation */
	display: none;
}

.LineBreak {
	color: #eeeeee;
	width: 100%;
	border-width: 0.5px;
}

.UserCog {
	cursor: pointer;
}
