.SideDrawer_container {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: #393e46;
	overflow: hidden;
	transition: 0.5s;
}

.SideDrawer_container ul {
	height: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: flex-start;
}

.SideDrawer_container li {
}

.SideDrawer_container a {
	text-decoration: none;
	font-size: 1.5rem;
	transition: 0.3s;
}

.Drawer_btn {
	background: #222831;
	color: #eeeeee;
	font-family: inherit;
	text-align: left;
	padding: 0.5rem 0;
	width: 100%;
	font-size: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	width: 100%;
	border: none;
	border-top: 1px solid black;
}

.Drawer_btn:last-of-type {
	border-bottom: 1px solid black;
}

.open {
	width: 10rem;
}

.close {
	width: 0;
}
