.Logo_container {
	grid-column: 2 / 3;
	color: #00adb5;
	margin: 0;
	margin-left: 0.4em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.Logo_container h1 {
	display: inline;
	text-align: center;
	margin: 0;
	padding: 0;
}

.Logo_container img {
	width: 2.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
