.Post_container {
	border: 1px solid black;
	border-radius: 15px;
	padding: 5rem;
	margin: auto;
	margin-bottom: 2rem;
	min-width: 20rem;
	overflow: hidden;
	background: rgba(243, 243, 243, 0.822);
}

.Post_body {
	position: relative;
	max-height: 15em;
	overflow: hidden;
	margin-bottom: 2rem;
	white-space: pre-wrap;
}

.shadow {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3em;
	background: -webkit-linear-gradient(transparent, rgba(243, 243, 243, 0.822));
	background: -o-linear-gradient(transparent, rgba(243, 243, 243, 0.822));
	background: -moz-linear-gradient(transparent, rgba(243, 243, 243, 0.822));
	background: linear-gradient(transparent, rgba(243, 243, 243, 0.822));
}

.Post_header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.Post_image {
	width: 3rem;
	height: 3rem;
	margin: 0 2rem;
	padding: 0;
	border-radius: 50%;
	cursor: pointer;
}

.Post_infos {
	cursor: pointer;
}

.Post_infos:hover {
	text-decoration: underline;
}
