.NavOpts_container {
	grid-column: 6/8;
}

.NavOpts_container ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}

.NavOpts_dropdown {
}

.NavOpts_dropdown_menu {
	box-sizing: border-box;
	text-align: right;
	right: 0;
	top: 4rem;
	width: 9em;
	position: absolute;
	padding: 0 1rem;
	border: 1px solid black;
	border-top: none;
	z-index: 2;
	background: #393e46;
}

.dropdown_close {
	/* move dropdown menu way up to create animation */
	display: none;
}
