.Login {
	/* top: 150px;
   position: relative; */
	/* background-size: contain; */
	background: #a2d5f2;
	height: 100vh;
}

.Login h1 {
	text-transform: uppercase;
	font-family: 'Sarabun', sans-serif;
	font-size: 5rem;
	padding: 0;
	text-align: center;
	margin: auto;
	color: rgb(22, 22, 22);
}

.Form {
	display: flex;
	width: 60%;
	margin: auto;
	margin-top: 5rem;
	border-radius: 20px;
	background: rgba(216, 233, 255, 0.63);
	flex-direction: column;
	align-items: center;
	padding: 3rem 0;
}

/* .Form p {
	text-align: center;
	font-size: 1.3rem;
} */

.Form span {
	display: block;
	text-align: center;
	font-size: 1.5rem;
}

.Form label,
.Form input {
	position: relative;
	margin: auto;
	width: auto;
	max-width: 280px;
}

.Form input {
	margin: 1rem auto;
	margin-top: 1.5rem;
	text-align: center;
	border: none;
	border-bottom: 1px rgba(56, 56, 56, 0.527) solid;
	background: rgba(0, 0, 0, 0);
	color: rgba(61, 61, 61, 0.678);
	font-size: 2rem;
}

.Form input:focus {
	border-bottom-width: 80%;
}

.Form button {
	margin: 20px;
}

.Form p {
	color: rgb(253, 166, 166);
}

.Form input:focus {
	outline: none;
}

.Form button:focus {
	outline: none;
}
