.SpecificThread_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ThreadBanner {
	position: relative;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	width: 100%;
	height: 9.5rem;
	justify-content: center;
	align-items: center;
}

.Avatar_container {
	position: absolute;
	grid-column: 2/4;
	bottom: -4rem;
	border: 3px rgb(48, 48, 48) solid;
	border-radius: 50%;
	min-width: 125px;
	max-width: 140px;
	z-index: 2;
}

.ThreadContent_container {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
}

.CurrentInfo_container {
	position: sticky;
	top: 4rem;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	/* padding-bottom: 3px; */
	border-bottom: 1px rgba(77, 77, 77, 0.267) solid;
	background: #eeeeeeea;
	z-index: 1;
	/* grid-gap: 5px; */
	/* max-height: 2rem; */
}

.SpecificThread_name {
	margin: 0 auto;
	padding: auto;
	grid-column: 4/7;
	font-size: 2rem;
	font-weight: 400;
	height: 2.8rem;
	user-select: none;
	cursor: pointer;
}

.selected {
	border-bottom: 2px #7c064d solid;
}

.SpecificThread_actives h1 {
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
	color: rgba(114, 114, 114, 0.651);
	display: inline;
	vertical-align: middle;
}

.SpecificThread_actives p {
	margin: 0;
	padding: 0;
	padding-left: 5px;
	font-size: 1.3rem;
	display: inline;
}

.SpecificThread_actives {
	padding: auto;
	margin: 0 auto;
	grid-column: 7/9;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 2.8rem;
	user-select: none;
}

.CreatePostButton {
	display: flex;
	justify-content: center;
	grid-column: 11/13;
	padding: 5px;
}

.Button {
	grid-column: 13/15;
	padding: 5px;
}

.BasicInfo_container {
	display: flex;
	grid-column: 1/4;
	flex-direction: column;
}

.BasicInfo_container h1 {
	padding-left: 2rem;
	margin-top: 2rem;
	font-size: 1.3rem;
}

.SpecificThread_description {
	margin: 0.5rem auto;
	font-size: 1rem;
	padding: 0 2rem;
	text-align: justify;
}

.MemberList_container {
	width: 100%;
	padding: 3rem;
}

@media only screen and (max-width: 900px) {
	.ThreadBanner {
		display: flex;
		align-items: center;
	}
	.Avatar_container {
		display: block;
		position: absolute;
		bottom: 0.5rem;
		margin: auto;
		max-width: 100px;
	}
	.SpecificThread_name {
		grid-column: 2/7;
	}
	.BasicInfo_container {
		display: none;
	}
}
