.NavigationOption {
}

.NavigationOption a {
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	font-size: 0.8rem;
	color: white;
	border-radius: 5px;
	border: 1px white solid;
	transition: 0.5s;
}

.NavigationOption a:hover {
	background: rgba(0, 0, 0, 0.034);
	border-radius: 0.3em;
}

.NavigationOption a:active,
.NavigationOption a.active {
	background: #0d87ce;
}
